
@{
    ViewBag.Title = "Year";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Doanh thu theo năm</h2>
<div class="row">
    <div class="col-md-12">
        <select id="ddYear" class="form-control" style="width: 150px">
            <option value="0">Chọn năm</option>
            <option value="2021">Năm 2021</option>
            <option value="2022">Năm 2022</option>
            <option value="2023">Năm 2023</option>
        </select>
        <div id="dvChart">
            <canvas id="chartProduct"></canvas>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script>
        $('#ddYear').on('change', function () {
            //var year = $(this).val();
            //$.get('/Statistic/GetReportByYear?year=' + year, function (resp) {
            //    RegisterCharProduct(resp);
            //});
            var year = $(this).val();
            GetReportList(year);
        });

        var dt = new Date();
        GetReportList(dt.getFullYear());

        function GetReportList(year) {
            $.get('/Statistic/GetReportByYear?year=' + year, function (resp) {
                RegisterCharProduct(resp);
            });
        }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   

        function RegisterCharProduct(lsData) {
            $("canvas#chartProduct").remove();
            $('#dvChart').html('<canvas id="chartProduct"></canvas>');

            var lsLabel = [];
            var lsDataSource = [];

            $.each(lsData, function (index, item) {
                lsLabel.push(item.Tháng);
                lsDataSource.push(item.Tổng/100);
            });
            console.log(lsLabel);
            console.log(lsDataSource);

            var ctx = document.getElementById("chartProduct");

            var barChartData = {
                labels: lsLabel,
                datasets: [
                    {
                        backgroundColor: '#0b9663',
                        borderWidth: 1,
                        data: lsDataSource
                    }
                ]
            };
            var myBarChart = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
            });
        }
    </script>
}
